main{
    height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

form section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    border-radius: 5px;
}

form.no-js section.hide-step {
    display: none;
}

form section#user-info:target,
form section:nth-of-type(2):target,
form section:nth-of-type(3):target,
form section:nth-of-type(4):target,
form section:nth-of-type(5):target,
form section:nth-of-type(6):target {
    display: flex;
}

form:not(.no-js):has(section#user-info:target) section:nth-of-type(2),
form:not(.no-js):has(section#user-info:target) section:nth-of-type(3),
form:not(.no-js):has(section#user-info:target) section:nth-of-type(4),
form:not(.no-js):has(section#user-info:target) section:nth-of-type(5),
form:not(.no-js):has(section#user-info:target) section:nth-of-type(6),

form:not(.no-js):has(section:nth-of-type(2):target) section#user-info,
form:not(.no-js):has(section:nth-of-type(2):target) section:nth-of-type(3),
form:not(.no-js):has(section:nth-of-type(2):target) section:nth-of-type(4),
form:not(.no-js):has(section:nth-of-type(2):target) section:nth-of-type(5),
form:not(.no-js):has(section:nth-of-type(2):target) section:nth-of-type(6),

form:not(.no-js):has(section:nth-of-type(3):target) section#user-info,
form:not(.no-js):has(section:nth-of-type(3):target) section:nth-of-type(2),
form:not(.no-js):has(section:nth-of-type(3):target) section:nth-of-type(4),
form:not(.no-js):has(section:nth-of-type(3):target) section:nth-of-type(5),
form:not(.no-js):has(section:nth-of-type(3):target) section:nth-of-type(6),

form:not(.no-js):has(section:nth-of-type(4):target) section#user-info,
form:not(.no-js):has(section:nth-of-type(4):target) section:nth-of-type(2),
form:not(.no-js):has(section:nth-of-type(4):target) section:nth-of-type(3),
form:not(.no-js):has(section:nth-of-type(4):target) section:nth-of-type(5),
form:not(.no-js):has(section:nth-of-type(4):target) section:nth-of-type(6),

form:not(.no-js):has(section:nth-of-type(5):target) section#user-info,
form:not(.no-js):has(section:nth-of-type(5):target) section:nth-of-type(2),
form:not(.no-js):has(section:nth-of-type(5):target) section:nth-of-type(3),
form:not(.no-js):has(section:nth-of-type(5):target) section:nth-of-type(4),
form:not(.no-js):has(section:nth-of-type(5):target) section:nth-of-type(6),

form:not(.no-js):has(section:nth-of-type(6):target) section#user-info,
form:not(.no-js):has(section:nth-of-type(6):target) section:nth-of-type(2),
form:not(.no-js):has(section:nth-of-type(6):target) section:nth-of-type(3),
form:not(.no-js):has(section:nth-of-type(6):target) section:nth-of-type(4),
form:not(.no-js):has(section:nth-of-type(6):target) section:nth-of-type(5) {
    display: none;
}

form section h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

form section label {
    display: flex;
    flex-direction: column;
}

form section label input,
form section label select{
    padding: .25rem;
    border-radius: 5px;
}

form section fieldset {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--hva-purple-dark);
    border-radius: 5px;
}

@media (max-width: 600px) {

    form section fieldset {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }
}

form section fieldset legend {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -20px;
    margin-left: -10px;
}

form section fieldset input{
    position: absolute;
    inset: 0;
    appearance: none;
    cursor: pointer;
}

form section fieldset label {
    display: grid;
    place-content: center;
    gap: 1rem;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

form section fieldset label:hover {
    background-color: rgba(0, 0, 0, .2);
    color: white;
    box-shadow: 0px 0px 10px white;
}

form section fieldset label:has(input:checked) {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid var(--hva-purple-dark);
    box-shadow: 0 0 10px white;
}

form section fieldset label:has(input:checked)::before,
form section fieldset label.selected::before {
    content: "";
    position: absolute;
    inset-block: -5px;
    width: 10px;
    background-color: rgba(255, 255, 255, .5);
    filter: blur(4px);

    animation: skeleton 4s infinite ease-out;
}

@keyframes skeleton {
    0% {
        transform: translateX(-200%) scale(.8);
    }
    40%, 100% {
        transform: translateX(40px);
    }
}

form section button{
    padding: .25rem;
    border-radius: 5px;
}

form.no-js section button,
body:has(#final:target) form section button {
    display: none;
}

form.no-js section button[data-step="final"] {
    content: "Submit";
    display: block;
}

/*
form:invalid button {
    background-color: darkgrey;
    pointer-events: none;
} */
