<nav>
    <a class="{{#when index 'eq' 'start' }}active{{/when}}" href="/">Start</a>
    <ul>
        <li>
            <a class="{{#when index 'eq' 1 }}active{{/when}}" href="/course/wafs">1</a>
        </li>
        <li>
            <a class="{{#when index 'eq' 2 }}active{{/when}}" href="/course/css">2</a>
        </li>
        <li>
            <a class="{{#when index 'eq' 3 }}active{{/when}}" href="/course/pw-one">3</a>
        </li>
        <li>
            <a class="{{#when index 'eq' 4 }}active{{/when}}" href="/course/pwa">4</a>
        </li>
        <li>
            <a class="{{#when index 'eq' 5 }}active{{/when}}" href="/course/bws-tech">5</a>
        </li>
    </ul>

    <a class="{{#when index 'eq' 'results' }}active{{/when}}" href="/results">Results</a>
</nav>