<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    <header>
        {{> nav index=index query=query}}
    </header>
    <main>
        {{{body}}}
    </main>
    {{!-- <script src="/js/app.js" type="module"></script> --}}
</body>
</html>