<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body id="thanks" class="no-js">
    <header>

    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/js/thanks.js" type="module"></script>
</body>
</html>