<form action="/" method="POST" class="no-js">

    <section id="user-info">
        <h2>User information</h2>
        <p>Fill in your user info to start the enquete</p>


        {{> input field="name" name="Name" value=values.name type="text"}}
        {{> input field="email" name="Email" value=values.email type="email"}}
        {{> input field="number" name="Student number" value=values.number type="text" pattern="[0-9]{7}"}}

        <button type="submit">
            Start Enquete
        </button>
    </section>
</form>