<section>
    <section>

        <h1>Thank you for participating</h1>
        <p>
            Thank you for participating in the survey. Your feedback is very important to us.
        </p>
        <p>
            you will be redirected to the home page in <span>5</span> seconds.
        </p>
        <a href="/">
            Go back to the home page
        </a>
    </section>
</section>