@import 'reset.css';
@import 'variables.css';
@import 'header.css';
@import 'main.css';
@import 'validations.css';
@import 'fallback.css';

body{
    overflow-x: hidden;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

